.todos-content {
  width: calc(100vw - 360px);
  height: 100%;
  max-height: calc(100vh - 100px);
  gap: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 10px #00000022;
  &.hidden {
    display: none;
  }
}

.header {
  display: flex;
  align-items: baseline;
  gap: 20px;

  .headline {
    line-height: 1.2;
  }
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: -5px 0px 15px #00000022;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in-class {
  animation: slide-in 0.3s ease-in-out forwards;
}

.slide-out-class {
  animation: slide-out 0.3s ease-in-out forwards;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.todos-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  max-width: 400px;
}

.todos-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.todos-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 500px;
  max-height: 1080px;
}
