.todos-content {
  width: calc(100vw - 360px);
  height: 100%;
  max-height: calc(100vh - 100px);
  gap: 40px;
  display: flex;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 10px #00000022;
  &:not(.board-container) {
    max-width: 400px;
  }
  &.hidden {
    display: none;
  }
}

.header {
  display: flex;
  align-items: baseline;
  gap: 20px;

  .headline {
    line-height: 1.2;
  }
}

.todos-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-width: 400px;
}

.todos-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.todos-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 600px;
  max-height: 1080px;
}
