<div class="app-nav">
  <div class="links-container" *appHideForUnauthorized>
    @for (link of NAV_LINKS; track link.path) {
    <a [routerLink]="link.path" routerLinkActive="activated">
      {{ link.labelKey | transloco }}
    </a>
    }
  </div>

  <div class="lang-switcher">
    @for (lang of availableLangs; track lang.id) {
    <app-button (click)="switchLang(lang.id)" type="simple" [class.active]="lang.id === activeLang">
      {{ lang.label }}
    </app-button>
    }
  </div>

  <app-button type="simple" (click)="authStore.logout()" *appHideForUnauthorized>
    <mat-icon class="app-header-icon">exit_to_app</mat-icon>
  </app-button>
</div>
