.app-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block: 10px;
  a {
    font-size: 18px;
    color: var(--mat-sys-on-primary-fixed);

    &:hover {
      color: var(--mat-sys-primary);
    }
    &.activated {
      color: var(--mat-sys-on-tertiary-fixed-variant);
      text-decoration: underline dashed;
    }
  }

  .lang-switcher {
    margin-block: 40px;
    display: flex;
    gap: 20px;
    & > .active {
      border-radius: 10px;
      box-shadow: 0px 8px 10px #5c141470;
    }
  }
}
