@use '@angular/material' as mat;

.todo-item,
.todo-item-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.todo-item-form {
  width: 100%;
}
.todo-item {
  background-color: var(--mat-sys-tertiary-container);
  border-radius: 6px;
  padding-inline: 18px;
  padding-block: 6px;
  &:hover {
    color: inherit;
    background-color: var(--mat-sys-inverse-on-surface);
    cursor: pointer;
  }
  &:focus {
    outline: 2px solid var(--mat-sys-outline);
    outline-offset: -2px;
  }
  &.completed {
    & > .todo-text {
      text-decoration: line-through;
    }
    &:not(.selected) {
      background-color: var(--mat-sys-outline-variant);
    }
  }
  &.selected {
    color: var(--mat-sys-inverse-on-surface);
    background-color: var(--mat-sys-on-primary-fixed);
  }
}

.form-input-wrapper {
  width: 100%;
  font-size: 14px;
  padding-block: 10px;

  @include mat.form-field-overrides(
    (
      container-height: 40px,
      container-vertical-padding: 8px,
    )
  );
}

.todo-text {
  width: 100%;
  padding-block: 14px;
  word-break: break-all;
}
