@use '@angular/material' as mat;

.filter-container {
  width: 140px;
  font-size: 12px;
  @include mat.form-field-overrides(
    (
      container-vertical-padding: 8px,
      container-height: 40px,
    )
  );
}

.filter-option {
  max-width: 180px;
  .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }
}
