.login {
  &-content {
    width: calc(100vw - 360px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-container {
    width: 500px;
    height: 500px;
    margin: 80px auto;
    padding: 32px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin-bottom: 42px;
      font-size: 24px;
      color: #333;
    }
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;

  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
}

.form-input-wrapper {
  width: 100%;
}

.switch-mode-link {
  font-size: 0.9rem;
  color: #673ab7;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

.form-button {
  width: 100%;
}
