@use '@angular/material' as mat;

.todos-content {
  width: calc(100vw - 360px);
  height: 100%;
  max-height: calc(100vh - 160px);
  padding-bottom: 12px;
  gap: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 10px #00000022;

  &.hidden {
    display: none;
  }
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: -5px 0px 15px #00000022;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in-class {
  animation: slide-in 0.3s ease-in-out forwards;
}

.slide-out-class {
  animation: slide-out 0.3s ease-in-out forwards;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-bottom: 16px;

  .title-section {
    display: flex;
    align-items: center;
    gap: 24px;
    flex: 1;
  }

  .headline {
    margin: 0;
    white-space: nowrap;
  }

  .search-field {
    width: 100%;
    max-width: 400px;

    font-size: 12px;
    @include mat.form-field-overrides(
      (
        container-vertical-padding: 8px,
        container-height: 40px,
      )
    );
  }
}

.todos-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
}

.todos-section {
  display: flex;
  gap: 10px;
  position: relative;
}
