.todos-content {
  width: calc(100vw - 360px);
  height: 100%;
  max-height: calc(100vh - 160px);
  gap: 40px;
  display: flex;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 10px #00000022;
  &.todos-container {
    max-width: 600px;
  }
  &.hidden {
    display: none;
  }
}

.header {
  display: flex;
  align-items: baseline;
  gap: 20px;

  .headline {
    line-height: 1.2;
  }
}

.todos-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: 700px;
  overflow-y: auto;
}

.todos-section {
  display: flex;
  gap: 10px;
  position: relative;
}
