<div class="todos-content">
  <section class="container todos-container">
    <div class="header">
      <h1 class="headline">{{ 'common.taskList' | transloco }}</h1>
      <app-todo-filter [value]="todosStore.filterValue()" (valueChange)="onFilterChange($event)" />
    </div>
    @if (todosStore.isLoading()) {
    <app-loader></app-loader>
    } @else {
    <div class="todos-section">
      <ul class="todos-list">
        @for (todo of todosStore.filteredTodos(); track todo.id) {
        <app-todo-list-item
          [currentTodo]="todo"
        ></app-todo-list-item>
        } @empty {
        <li>{{ 'common.emptyList' | transloco }}</li>
        }
      </ul>
    </div>
    }
  </section>
  <section class="container" [class.hidden]="!showDetailsContainer()">
    <router-outlet />
  </section>
</div>
