.todos-content {
  width: calc(100vw - 360px);
  height: 100%;
  max-height: calc(100vh - 90px);
  padding-bottom: 12px;
  gap: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 10px #00000022;

  &.hidden {
    display: none;
  }
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  z-index: 10;
  box-shadow: -5px 0px 15px #00000022;
  transition: transform 0.3s ease-in-out;
  background-color: white;
  &.hidden {
    display: block !important;
    transform: translateX(110%);
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.header {
  display: flex;
  align-items: baseline;
  gap: 20px;

  .headline {
    line-height: 1.2;
  }
}

.todos-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

.todos-section {
  display: flex;
  gap: 10px;
  position: relative;
}
