.form {
  &-container {
    padding: 28px;
    min-width: 400px;
    max-width: 600px;

    h2 {
      margin-bottom: 24px;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;

      .full-width {
        grid-column: 1 / -1;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      margin-top: 20px;
    }
  }

  mat-form-field {
    width: 100%;
  }
}
