.app-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 320px;
  height: 100%;
  padding-inline: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 8px 10px #00000022;

  .app-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block: 40px;

    &-title {
      color: var(--mat-sys-primary);
    }
    &-icon {
      width: 26px;
      height: 26px;
      color: var(--mat-sys-inverse-on-surface);
      background-color: var(--mat-sys-primary);
      border-radius: 2px;
    }
  }
}
